body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  color: #434455;
  background-color: #FFFFFF;
  letter-spacing: 0.02em;
}

/* Typography */
h1,
h2,
h3 {
  color: #2E2F42;
  letter-spacing: 0.02em;
  margin: 0;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 8px;
  margin-bottom: 8px;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
} 
img {
  display: block;
}

/* Header */
header {
  border-bottom: 1px solid #E7E9FC;
  box-shadow: 0px 1px 6px 0px #2E2F4214, 0px 1px 1px 0px #2E2F4229,  0px 2px 1px 0px #2E2F4214;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container nav {
  display: flex;

}
nav .active {
position: relative;
color: #404BBF;
}

nav .active::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404BBF;
}

header .container nav ul {
  display: flex;
  gap: 40px;
}

header .container address ul {
  display: flex;
}

header .container .logo {
  margin-right: 76px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4D5AE5;
  text-transform: uppercase;
}
.logo span {
  color: #2E2F42;
}
.nav {
  align-items: center;
}

.nav-menu-address {
  margin-right: 40px;
}
.nav-menu-address:last-child {
  margin-right: 0;
}
header nav a {
  font-weight: 500;
  color: #2E2F42;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
header nav a:hover,
header nav a:focus {
  color: #404BBF;
}

.address {
  font-style: normal;
}
.address a {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address a:hover,
.address a:focus {
  color: #404BBF;
}

address ul li + li{
  margin-left: 40px;
}

/* section hero */
.hero {
  /* background-color: #2E2F42; */
  background-image: linear-gradient(
       to bottom,
     rgba(46, 47, 66, 0.7),
     rgba(46, 47, 66, 0.7)
    ),
       url("../images/people-office.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
}
.hero-title {
  color: #FFFFFF;
  max-width: 496px;
  margin: 0 auto;
}

.hero-btn {
  display: block;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background: #4D5AE5;
  cursor: pointer;
  margin: 48px auto 0;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus,
.social-link:focus,
.social-link:hover {
  background-color: #404BBF;
}
/* section strategy */

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} 

.strategy ul {
  display: flex;
  gap: 24px;
}
.strategy-icon {
  padding: 24px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  background-color: #F4F4FD;
}
.strategy-list-strategy {
  width: calc((100% - 72px) / 4); 
}
/* section team */
.team-list {
  display: flex;
  gap: 24px;
}
.section {
  padding: 120px 0;
}
.team {
  background: #F4F4FD;
}
.team-user {
  text-align: center;
  padding: 32px 0;
}
.team-list-link {
  display:flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.team-list-item {
  background-color: #FFFFFF;
  border-radius: 0px 0px 4px 4px; 
  box-shadow: 0px 2px 1px 0px #2E2F4214,0px 1px 1px 0px #2E2F4229,0px 1px 6px 0px #2E2F4214;
}
.social-link {
  background-color: #4D5AE5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 12px;
  line-height: 0; */
}
.social-icon {
  fill: #f4f4fd;
}

/* section portfolio */
.portfolio ul {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px; 
}
.portfolio-text-border { 
  text-align: left;
  padding: 24px 16px 32px;
  border-left: 1px solid #E7E9FC;
  border-right: 1px solid #E7E9FC ;
  border-bottom: 1px solid #E7E9FC;
}
.portfolio-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-overlay {
  position: relative;
  overflow: hidden;
}
.overlay {
  text-align: left;
  position: absolute;
  padding: 40px 32px;
  background-color: #4D5AE5;
  color: #F4F4FD;
  letter-spacing: 0.02em;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover .overlay {
  transform: translateY(0);
}

.portfolio-list-item:hover {
  box-shadow: 0px 2px 1px 0px #2E2F4214,
              0px 1px 1px 0px #2E2F4229,
              0px 1px 6px 0px #2E2F4214;
  ;
}

/* section footer */
footer {
  color: #F4F4FD;
  background-color: #2E2F42;
  padding: 100px 0;
}
footer .logo {
  color: #4D5AE5;
  display: inline-block;
  margin-bottom: 16px;
}
footer .logo span {
  color: #F4F4FD;
}
.column-first {
  width: 264px;
  margin-right: 120px;
}

footer .container {
  display: flex;
  align-items: baseline;
}
footer .column-second {
  font-weight: 500;
}
footer .column-second .team-list-link {
  padding-left: 0px;
}
footer .social-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
footer .social-link:hover,
footer .social-link:focus {
  background-color: #31D0AA;
  }
  .footer-paragraph {
    color:#FFFFFF ;
    margin-bottom: 16px;
    font-weight: 500;
  }
  footer .team-list-link {
    gap: 16px;
    padding: 0;
  }
.column-third {
  margin-left: 80px;
}
.footer-form {
  display: flex;
  gap: 24px;
  align-items: baseline;
  justify-content: center;
}
.footer-form .hero-btn {
  margin: 0;
  padding: 8px 24px;
  display: flex;
  height: auto;
  min-width: unset;
  min-width: 165px;
  justify-content: center;
  align-items: center;
}
.footer-icons {
  stroke: white;
  fill: white;
  margin-left: 16px;
}
.footer-form-input {
width: 264px;
height: 40px;
padding: 8px 16px;
background: transparent;
border-radius: 4px;
color: rgba(255, 255, 255, 1);
border: 1px solid rgba(255, 255, 255, 1);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
}
.footer-form-input::placeholder {
color: rgba(255, 255, 255, 1);
}
/* modal */
.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
              visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  background-color: rgba(252, 252, 252, 1);
  border-radius: 4px;
  padding: 72px 24px 24px; 
  box-shadow:  0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  width: 408px;
  min-height: 584px;
  /* overflow: auto; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.close-btn {
  display: flex;
  width: 24px;
  height: 24px;
  margin-left: auto;
  border-radius: 50%;
  background-color: rgba(231, 233, 252, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
              border 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.close-btn .close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  /* background-color: #404BBF;
  border: none; */

  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.close-btn:hover > .close-btn-icon {
  fill: #FFFFFF;
}
.close-btn:focus > .close-btn-icon {
  fill: #FFFFFF;
}



.modal-paragraph {
font-weight: 500;
/* line-height: 24px; */
text-align: center;
color: rgba(46, 47, 66, 1);
margin-bottom: 16px;
  }
  .modal-input-wrap input,
  .modal-input-wrap textarea {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left:38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-form-item-wrap {
    margin: 8px 0;
  }
.modal-form-label {
  display: block;
  color: rgba(142, 143, 153, 1);
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.17;
  margin-bottom: 4px;
}
  /* background: rgba(142, 143, 153, 1); */
  
  .modal-form-item-wrap-textarea {
    margin-bottom: 16px;
  }
  .modal-form-item-wrap-textarea .user-comment-textarea {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left:38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.17;
    color: rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
    resize: none;
    /* margin-top: 4px; */
  }
  .modal-form-item-wrap-textarea .user-comment-textarea:focus {
    border-color: #4D5AE5;
  }

  .modal-input-wrap input:hover,
  .modal-input-wrap input:focus,
  .modal-input-wrap textarea:hover,
  .modal-input-wrap textarea:focus {
    border: 1px solid rgba(77, 90, 229, 1);
  }
  .modal-icons {
    /* fill: transparent; */
    stroke: rgba(46, 47, 66, 1);
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-input-wrap:hover .modal-icons,
  .modal-input-wrap:focus .modal-icons,
  .modal-input-wrap input:hover .modal-icons,
  .modal-input-wrap input:focus-within .modal-icons  {
    stroke: rgba(77, 90, 229, 1);
    fill: #4D5AE5;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-input-wrap {
    position: relative;
    margin-top: 4px;
    display: block;
  }


.modal-form-item-wrap-privacy {
  margin-bottom: 24px;
}

.modal-form-item-wrap-privacy-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form-item-wrap-privacy-label-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
              border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
              fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .modal-form-item-wrap-privacy-label-box-icon {} */

.modal-form-item-wrap-privacy input:checked + label span {
  background-color: #404bbf;
  border: none;
  fill: #F4F4FD;
}

.modal-form-item-wrap-privacy-label-link {
  color: #4d5ae5;
  text-decoration: underline;
}

.modal-form-item-wrap-privacy-label-link:hover {
  text-decoration: none;
}

.modal-form button {
    margin: 0 auto;
  }